'context-menu':

  '.tree-view': [
    {
      label: 'Open folder in CMDER',
      command: 'open-in-cmder:open_path'
    }
  ]

  'atom-text-editor': [
    {
      label: 'Open file folder in CMDER',
      command: 'open-in-cmder:open'
    }
  ]
